


/*COMPONENTS*************/

.game-container {
  max-width: calc((100vmin - 48px) * 1.5);
  margin: 0 auto;
}

.score-bar {
  text-align: right;
}

.score-bar>p {
  font-size: 26px;
  line-height: 48px;
  margin: 0;
  padding: 0;
}

.board {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1vw;
}

.grid-space {
  perspective: 1000px;
}

.grid-space:hover {
  transform: scale(1.02);
  transition: 0.3s ease-in-out;
} 
/* Swap transforms over for real game */
.card {
  position: relative;
  padding-bottom: 100%;
  display: flex;
  border-radius: 1vw;
  transition: 0.4s ease-in-out;
	transform-style: preserve-3d;
  cursor: pointer;
  /*Temporary***************************/
  transform: rotateY(180deg);
}



.card p {
  color: inherit;
}

.flipped {
  /*transform: rotateY(180deg);
  Temporary********************************/
  transform: rotateY(0deg);

}

.front-face, .back-face {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1vw;
  text-align: center;
  box-sizing: border-box;
}

.front-face {
  transform: rotateY(180deg);
}

.back-face {
  /* background: #C7C6C4;
  border: 1px solid #EBD787; */
  background: #3A295C;
  border: 1px #EBD787 solid;
  z-index: 10;
}

.front-face > p {
  font-size: 3vmin;
  margin: 0;
  position: absolute;
  bottom: 5%;
  width: 100%;
  text-align: center;
}

.front-face > img {
  width: 90%;
  margin-top: 5%;
}

/***************Transitions**************/

/* .flip-enter {
  opacity: 0;
  transform: rotateY(180deg);
}

.flip-enter.flip-enter-active {
  opacity: 1;
  transform: rotateY(0deg);
  transition: all 500ms ease-in-out;
}

.flip-leave {
  opacity: 1;
}

.flip-leave.flip-leave-active {
  opacity: 0;
  transform: rotateY(180deg);
  transition: all 300ms ease-in-out;
} */



@media (orientation:portrait) {

  .game-container {
    max-width: calc((100vmax - 60px) / 1.5); 
    margin: 0 auto;
  }

  .board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1vw;
  }

}
