.modal {
    position: relative;
    width: 90%;
    max-width: 960px;
    margin: 5% auto;
    text-align: center;
    background: #3A295C;
    color: #EBD787;
    border: 1px #EBD787 solid;
    border-radius: 10px; 
    padding: 54px 15px 24px 15px;  
}

.modal h1, .modal h2 {
    margin: 0px
}

.button-holder {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin-top: 14px;
    margin-bottom: 38px;
}

button {
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
    font-size: 26px;
    line-height: 56px;
    width: 260px;
    border-width: 2px;
    border-radius: 28px;
    cursor: pointer;
    margin: 24px 19px 0px 19px;
    transition: background 0.3s, border-color 0.3s, color 0.3s;
}

/* .button-holder a:first-child button {
    margin-right: 38px;
} */

button.primary {
    background: #95EBDF;
    color: #123293;
    border-color: #95EBDF;   
}

button.primary:hover {
    background: #EBD787;
    border-color: #EBD787; 
}

button.secondary {
    border-color: #95ebdf;
    color: #95ebdf;
    background: none;
}

button.secondary:hover {
    border-color: #EBD787;
    color: #EBD787;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/*****************Welcome screen styles**************/

.welcome-grid {
    display: grid;
    grid-template-columns: 15% auto 15%;
}

.welcome .small-text {
    margin-bottom: 30px;
}

.welcome img {
    position: relative;
    width: 100%;
}

/************************Leaderboard styles**********************/
.leaderboard-holder {
    max-height: 90%;
}

.leaderboard {
    position: relative;
    max-width: 92%;
    background-color: rgba(0, 0, 0, 0.22);
    margin: 44px auto 18px auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    z-index: 10;  
}

.leaderboard-holder .small-creature1 {
    position: absolute;
    width: 81px;
    top: 25px;
    left: 6%;
    z-index: 5;
}

.leaderboard-holder .small-creature2 {
    position: absolute;
    width: 85px;
    top: 77px;
    right: 4%;
    z-index: 6;
}

.leaderboard-row {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr; 
    border-bottom: solid 1px rgba(161, 208, 249, 0.5);
    padding: 0 38px 0 38px;
}

.leaderboard-row p {
    font-size: 36px;
    line-height: 72px;
    font-weight: 400;
}

/* .leaderboard-stats {
    overflow-y: scroll;
} */

.leaderboard>.leaderboard-row {
    background: #A1D1F9;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.leaderboard>.leaderboard-row p {
    color: #3A295C;
}

.leader-position, .leader-goes {
    color: #A1D1F9;
}

.leader-name {
    color: #ebd787;
}

.leaderboard p {
    text-align: left;
}

/************************Enterwinner styles*********************/
.enter-winner form {
    margin-top: 24px;
    text-align: left;
}

.enter-winner label {
    font-size: 24px;
    color: #91c6f7;
    margin-left: 15%;   
}

.enter-winner input {
    display: block;
    width: 70%;
    line-height: 58px;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 0 0 #a1d1f9;
    font-size: 36px;
    color: #fff;
    padding-left: 16px;
    margin: 10px 15% 0 15%;
}

.enter-winner input.hidden {
    display: none;
}

/********************Gameover styles**************/

p.scoreline {
    font-size: 24px;
    line-height: 36px;
}

/********************Vertical viewport or less than 500px wide************/

@media (orientation:portrait),
screen and (max-width: 500px) {
    
/*******************General and welcome rules*****************/
    .modal {
        padding: 24px 15px 12px 15px;
    }

    .welcome-grid {
        grid-template-columns: 50% 50%;
        
    }

    .centre-container {
        grid-row: 2;
        grid-column: 1 / 3
    }

    .cat-container {
        grid-row: 1;
        grid-column: 1;
        text-align: right;
    }

    .magoo-container {
        grid-row: 1;
        grid-column: 2;
        text-align: left;
    }

    .welcome-grid img {
        max-width: 25%;
    }

    /************************Leadeboard rules*******************/
    .leaderboard-holder img {
        display: none;
    }

    .leaderboard-row {
        padding: 0px 24px 0px 24px;
    }

    .leaderboard-row p {
        font-size: 28px;
        line-height: 56px;
    }

    /*******************Enter winner rules*******************/
    .enter-winner form {
        margin: 24px 5% 0 5%;
    }

    .enter-winner label {
        font-size: 20px;
    }

    .enter-winner input {
        line-height: 36px;
        font-size: 28px;
    }


}